body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#contenido{
    display: flex;
    flex-flow: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Cabecera */
#contenido>header{
    *border: solid 1px black;
    *background-color: white;
    *min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 4%;
    font-size: 70%;
    *position: fixed;
}


#simboloMenu{
    display: flex;
    align-items: center;
    width: 10%;
}

#simboloMenu>img{
    width: 85%;
    height: 60%;
}

#headerDerecha{
    width: 10%;
    display: flex;
    align-items: center;
}


#iconoInicioSesion{
    width: 80%;
    padding-top: 20%;
}


h1>a{
    text-decoration: none;
    color: #009688;
    font-style: italic;
    
}


#inicioSesion{
    display: none;
}

#registrar{
    display: none;
}


#background_shadow{
    z-index: 100;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.0;
    visibility: hidden;
    transition: all 0.5s;
}

#menuLateral{
    background-color: #009688;
    color: white;
    position: fixed;
    left: -100%;
    top: 0px;
    width: 70%;
    height: 100%;
    transition: all 0.5s;
    align-items: center;
    z-index: 101;
    display: flex;
    flex-flow: column;
}

#cabeceraMenuLateral{
    display: flex;
    flex-flow: row;
    padding: 5%;
    width: 90%;
    margin: 5%;
}

#iconoMenuLateral{
    *border: 1px solid;
    width: 20%;
}

#tituloMenuLateral{
    *border: 1px solid;
    width: 70%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
}


.botonesMenuLateral{
    background-color: white;
    color: #009688;
    box-shadow: 1px 1px 2px #504f4f, 0px 0px 1px #504f4f;
    margin: 4%;
    padding: 5%;
    width: 60%;
    *border: 5px solid black;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}


/* Main */
#contenido>main{
    *background-color: rgb(113, 141, 240);
    *border: solid 1px red;
    
}

p{
    margin: 0px;
    padding: 0px;
}

    /*Caja Inicio*/
    #cajaInicio{
        *border: solid 1px;
        min-height: 50vh;
        margin: 0px;
        background-image: url("../img/casa1.jpg");
        background-repeat: no-repeat;
        background-size:120%; 
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }


    #busqueda{
       *border: solid 1px;
        width: 80%;
    }

    #formularioBusqueda{
        display: grid;
        *border: solid 1px red;
        width: 100%;
        grid-gap: 1.1em;
        grid-template-areas: "ubicacion ubicacion"
                             "llegada   salida"
                             "personas habitaciones"
                             "buscar buscar";
    }

    #ubicacion{
        background-color: white;
        grid-area: ubicacion;
        display:flex; 
        flex-direction: row;
        align-self: center;
        border-width:0;
    }

    #inputUbicacion{
        width: 87%;
        min-height: 25px;
        padding: 10px 5px;
        border-width:0;
    }

    .campoBusqueda{
        background-color: white;
        border:solid 1px  yellow;
        width: 93%;
        display:flex; 
        flex-direction: row;
        align-self: center;
        justify-content: center;
        border-width:0;
        padding: 5px;
    }

    .iconoFormulario{
        width: 12%;
        border-width:0;
        align-self: center;
        justify-content: center;
    }

    .iconoFormularioU{
        width: 5%;
        height: 10%;
        border-width:0;
        align-self: center;
        justify-content: center;
        padding: 5px;
    }

    .campoBusqueda>input{
       width: 70%;
       min-height: 25px;
       border: none;
       padding: 5px;
       font-size: 15px;
    }

    #llegada{
        grid-area: llegada;
    }

    #salida{
        grid-area: salida;
    }

    #personas{
        grid-area: personas;
    }

    #habitaciones{
        grid-area: habitaciones;
    }

    #botonBuscar{
        grid-area: buscar;
        width: 100%;
    }

    #botonBuscar>input{
        background-color: #009688;
        color: white;
        border: none;
        width: 100%;
        min-height: 35px;
    }

    /*Alojamientos Destacados*/

    #tituloAlojamientos{
        color: #009688;
        margin: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
    }

    #articulosAlojamientos>article{
        *border: 1px solid;
        *background-color: rgb(240, 156, 240);
        box-shadow: 1px 1px 2px #888888, 0px 0px 1px #888888;
        display: flex;
        flex-flow: row;
        *align-items: center;
        margin: 5%;
        width: 90%;
    }

    .imagenAlojamiento{
        width: 40%;
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .imagenAlojamiento>img{
        width: 100%;
        min-height: 150px;
    }

    .columnaCentralArt{
        width: 40%;
        *border: solid 1px;
        *padding: 5px 0px;
        margin-left: 10px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 2% 0% 2% 1%;
    }

    .tituloPrimarioArt{
        font-weight: bold;
        font-size: 17px; 
    }

    .tituloSecundarioArt{
        padding-top: 0px;
        font-size: 9px; 
    }

    #iconosArt{
        display: flex;
        flex-flow: row;
        align-items: center;
        *border: solid 1px red;
        padding: 5px 0px;
        min-height: 35px;
    }

    .iconoArt{
        display: flex;
        flex-flow: row;
        width: 70%;
        align-items: center;
    }

    .iconoArt>img{
        width: 30%;
        margin-right: 5%;
    }


    .columnaDerechaArt{
        width: 35%;
        *border: solid 1px;
        padding: 5px;
        padding-top: 4%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .valoracionArt{
        display: flex;
        flex-flow: row;
        align-items: center;
        *border: solid 1px red;
    }

    .valoracionArt>img{
        width: 17%;
    }

    .textoValoracion{
        margin-left: 5%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .numeroVal{
        font-weight: bold;
        font-size: 18px;
    }

    .textoVal{
        font-size: 12px;
    }

    .precioArt{
        *border: solid 1px;
        text-align: center;
        min-height: 90px;
    }

    .textoSuperiorPrecio{
        font-weight: bold;
        font-size: 2rem; 
    }

    .botonReservar>a{
        text-decoration: none;
        color: white;
    }

    .botonReservar{
        padding: 8px;
        background-color: #009688;
        text-align: center;
        margin-right: 2%;
    }

    /*** Footer ***/
    
    footer{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        background-color: #009688;
        color: white;
        min-height: 80px;
        text-align: center;
        padding: 2% 4%;
        font-size: 0.8rem;
    }

    #imagenesFooter{
        width: 20%;
    }

    #imagenesFooter>img{
        width: 80%;
    }

    #redesSociales{
        width: 20%;
        display: flex;
        flex-flow: row;
    }

    #github{
        width: 40%;
    }

    #github>img{
        width: 90%;
    }

    #twitter{
        width: 40%;
    }

    #twitter>img{
        width: 90%;
    }




            /* *******************************
            -----------Tamaño Tablet----------
            ******************************* */


    @media only screen and (min-width: 660px){
        
        /* Cabecera */
        #contenido>header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1% 4%;
            font-size: 90%;
        }
        
        
        #simboloMenu{
            display: flex;
            align-items: center;
            width: 8%;
        }
        
        #simboloMenu>img{
            width: 80%;
            height: 60%;
        }
        
        #headerDerecha{
            width: 8%;
            display: flex;
            align-items: center;
        }
        
        
        #iconoInicioSesion{
            width: 50%;
            padding-top: 20%;
        }
        
        
        h1{
            color: #009688;
            font-style: italic;
        }

        #iconoInicioSesion{
            width: 80%;
            padding-top: 15%;
        }

        #menuLateral{
            width: 50%;
        }
        
        
        #tituloMenuLateral{
            width: 60%;
            font-size: 1.8rem; 
        }
        
        
        .botonesMenuLateral{
            padding: 4%;
            width: 50%;
        }

        /* Main */

            /*Caja Inicio*/
            #cajaInicio{
                background-size:100%; 
            }

            #busqueda{
                width: 70%;
            }

            #formularioBusqueda{
                grid-gap: 1.3em;
            }

            #inputUbicacion{
                padding: 10px;
            }

            .campoBusqueda{
                width: 96%;
            }

            .iconoFormulario{
                width: 10%;
            }

            .iconoFormularioU{
                width: 5%;
                padding: 1%;
            }

            .campoBusqueda>input{
            width: 70%;
            padding: 5px;
            font-size: 15px;
            }

            #botonBuscar>input{
                min-height: 40px;
                font-size: 1.5rem;
            }
        
            /*Alojamientos Destacados*/

            #tituloAlojamientos{
                font-size: 1.7rem;
            }


            .tituloPrimarioArt{
                font-size: 1.5rem; 
            }

            .tituloSecundarioArt{
                font-size: 0.7rem; 
            }


            .columnaDerechaArt{
                width: 30%;
                *border: solid 1px;
                padding: 3% 5px 3% 0px;
            }


            .numeroVal{
                font-size: 1.6rem;
            }

            .textoVal{
                font-size: 0.8rem;
            }

            .precioArt{
                min-height: 90px;
            }

            .textoSuperiorPrecio{
                font-size: 3rem; 
            }

            .botonReservar{
                margin-top:8%; 
                padding: 11px;
                font-size: 1.1rem;
            }   
            

            footer{
                padding: 1% 2%;
                font-size: 1.0rem;
            }

            #imagenesFooter>img{
                width: 60%;
            }
            






            /* ******************************************
            -----------Tamaño Ordenador Mediano----------
            ********************************************* */



            @media only screen and (min-width: 1024px){

                #contenido>header{
                    padding: 1,5% 1%;
                }


                #simboloMenu{
                    width: 8%;
                }

                #simboloMenu>img{
                    width: 60%;
                }

                #cajaTitulo>h1{
                    padding-left: 45%;
                }


                #headerDerecha{
                    width: 20%;
                }

                
                #cajaInicio{

                    background-image: url("../img/casa2.jpg");
                    background-repeat: no-repeat;
                    background-size:100%; 
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
                }

                #registrar{
                    display: inline-block;
                    font-size: 0.7rem;
                    margin-left:8%;
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content:center;
                    background-color: #009688;
                    color: white; 
                    padding: 6% 4%;
                    width: 70%;
                }

                #headerDerecha>img{
                    width: 25%;
                }

                #iconoInicioSesion{
                    padding-top: 0%;
                }

                #menuLateral{
                    width: 37%;
                }
                
                #tituloMenuLateral{
                    width: 60%;
                    font-size: 2rem; 
                }
                
                
                .botonesMenuLateral{

                    width: 40%;
                }



                .iconoFormularioU{
                    width: 4%;
                    padding: 1% 2% 1% 50%;
                }

                .iconoFormulario{
                    width: 8%;
                    border-width:0;
                    *align-items: center;
                    *justify-content: center;
                    padding-left: 10%;
                }



                /* Articulos */
                #tituloAlojamientos{
                    font-size: 1.8rem;
                }

                #articulosAlojamientos{
                    *border: 1px solid;
                    width: 100%;
                    display: flex;
                    flex-flow: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                }
            
                #articulosAlojamientos>article{
                    width: 45%;
                    margin: 1% 2%;
                }
            
                .imagenAlojamiento{
                    width: 55%;
                }
            
                .imagenAlojamiento>img{
                    min-height: 175px;
                }
            
                .columnaCentralArt{
                    margin-left: 10px;
                    padding-left: 0%;
                    width: 40%;
                }
            
                .tituloPrimarioArt{
                    font-size: 19px; 
                }
            
                .tituloSecundarioArt{
                    font-size: 10px; 
                }
            
                .iconoArt>img{
                    width: 25%;
                    margin-right: 7%;
                }
            
                .columnaDerechaArt{
                    width: 45%;
                    padding: 5px;
                    padding-top: 4%;
                }
            
            
                .numeroVal{
                    font-size: 1.4rem;
                }


                .textoSuperiorPrecio{
                    font-size: 2.6rem; 
                }
            
                .botonReservar{
                    padding: 10px;
                }

                /**** Footer ****/
                footer{
                    padding: 1% 2%;
                    font-size: 1.2rem;
                }
            
            
                #imagenesFooter>img{
                    width: 40%;
                }
                    
            
                #github>img{
                    width: 50%;
                }
            
            
                #twitter>img{
                    width: 50%;
                }


            }   

            /* ******************************************
            -----------Tamaño Ordenador HD----------
            ********************************************* */



            @media only screen and (min-width: 1280px){



                #simboloMenu{
                    width: 6%;
                }


                #headerDerecha{
                    width: 18%;
                }



                /*Caja Inicio*/
                #cajaInicio{
                    background-image: url("../img/casa2.jpg");
                }

                #busqueda{
                    width: 95%;
                    *border: solid 1px;
                }

                #formularioBusqueda{
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                #formularioBusqueda>div{
                    margin: 10px;
                }

                #ubicacion{
                    width: 25%;
                    font-size: 17px;
                }

                .campoBusqueda{
                    width: 15%;
                    padding: 5px;
                }

                .iconoFormulario{
                    width: 10%;
                }

                .iconoFormularioU{
                    width: 8%;
                    padding: 5px 12px;
                }

                .campoBusqueda>input{
                width: 60%;
                font-size: 17px;
                }

                #botonBuscar{
                    width: 25%;
                    min-height: 40px;
                    display:flex; 
                    flex-direction: row;
                    align-self: center;
                    justify-content: center;
                    
                }

                #botonBuscar>input{
                    background-color: #009688;
                    color: white;
                    border: none;
                    width: 100%;
                    min-height: 35px;
                }

                footer{
                    padding: 1% 2%;
                    font-size: 1.3rem;
                }
            
            
                #imagenesFooter>img{
                    width: 30%;
                }
                    
            
                #github>img{
                    width: 40%;
                }
            
            
                #twitter>img{
                    width: 40%;
                }

                
            }

            @media only screen and (min-width: 1600px){



                #simboloMenu{
                    width: 5%;
                }


                #cajaTitulo>h1{
                    padding-left: 65%;
                    font-size: 2.2rem;
                }


                #headerDerecha{
                    width: 15%;
                }


                /* Articulos */
                #tituloAlojamientos{
                    font-size: 2rem;
                }

            
                .imagenAlojamiento{
                    width: 55%;
                }
            
            
                .columnaCentralArt{
                    margin-left: 13px;
                    padding-left: 0%;
                    width: 45%;
                }
            
                .tituloPrimarioArt{
                    font-size: 1.7rem; 
                }
            
                .tituloSecundarioArt{
                    font-size: 0.8rem; 
                }

                .textoSuperiorPrecio{
                    font-size: 3.3rem; 
                }
            
                .botonReservar{
                    padding: 12px;
                    margin-bottom: 4%;
                }

            }
        
    }